@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
}

header {
    background-image: url(/Assets/Images/bg.jpg);
    width: 100%;
    height: 75vh;
    box-shadow: inset 0px 0px 200px 40px black;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-size: cover;
    padding-bottom: 30px;
}

#black {
    background-color: black;
    height: 100%;
    width: 100%;
    filter: opacity(0.5);
    position: absolute;
    top: 0;
}

nav {
    position: relative;
    z-index: 1;
    display: flex;
    width: 73%;
    margin: 0px auto;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
}

#text1 {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87%;
    gap: 18px;
    text-align: center;
}

#text1 div h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: -6px;
}

#text1 div:nth-child(2) {
    font-size: 1.9rem;
}

#text1 div:nth-child(3) {
    font-size: 1.6rem;
}

.email-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn {
    border: none;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
}

.btn:hover {
    background-color: rgb(212, 4, 4);
    cursor: pointer;;
}

.btn-start {
    font-size: 1.5rem;
    padding: 10px 10px;
    font-weight: 500;
}

.email-info input {
    background-color: rgba(0, 0, 0, 0.5);
    height: 44px;
    width: 250px;
    border: 1px solid rgb(170, 170, 170);
    padding: 0px 23px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
}

.email-info input::placeholder {
    color: rgb(170, 170, 170);
}

.break-line {
    background-color: rgb(46, 46, 46);
    height: 9px;
}

.lang {
    border: none;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
    padding: 6px 9px;
    border-radius: 6px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    margin-right: 17px;
}

.lang:hover {
    border: 2px solid rgb(189, 187, 187);
    color: rgb(189, 187, 187);
    cursor: pointer;
}

.text {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}

.text h1 {
    font-size: 45px;
    font-weight: 800;
}

.text p {
    font-size: 21px;
}

.row {
    display: flex;
    max-width: 70vw;
    justify-content: center;
    margin: 48px auto;
    overflow: hidden;
}

.video-player {
    position: relative;
    
}

.video-player img{
    width: 390px;
    position: relative;
    z-index: 1;
}

.video-player video {
    position: absolute;
    top: 65px;
    left: 56px;
    width: 80%;
}

.third .text {
    padding: 0px 110px;
}

.box {
    width: 30vw;
    background-color: black;
    height: 46px;
    height: 430px;
}

.faq {
    background-color: rgb(46, 46, 46);
    padding: 30px;
    font-size: 26px;
    display: flex;
    align-items: center;
    margin: 15px auto;
    max-width: 70%;
    justify-content: space-between;
    transition: background-color 0.2s linear;
}

.faq:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.questions {
    margin-top: 70px;
}

.questions h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
}

.email-outro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    margin: 56px 0px 75px;
}

.email-outro .text2 {
    font-size: 21px;
    text-align: center;
    padding: 0px 40px;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 41px);
}

.services:hover {
    cursor: pointer;
}

.footer {
    width: 70vw;
    margin: 65px auto 0px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(184, 182, 182);
}

.title {
    margin-bottom: 28px;
    font-size: 18.2px;
}

.lang2 {
    padding: 5px 23px;
    border: 2px solid rgb(158, 157, 157);
}

#last, .bye {
    width: 70vw;
    margin: 23px auto;
    font-size: 16px;
    font-weight: 400;
    color: rgb(184, 182, 182);
    margin: 5px auto;
}

#last {
    margin: 20px 0px 80px 0px;
}

#creator {
    color: white;
    font-size: 26px;
    font-weight: 700;
    background-color: red;
    display: inline-block;
    border-radius: 49%;
    position: fixed;
    bottom: 13px;
    right: 15px;
}

#logo img {
    width: 160px;
}

@media screen and (max-width: 1000px){
    nav {
        width: 90%;
    }

    #logo img {
        width: 110px;
    }

    #text1 div h1 {
        font-size: 2.3rem;
    }

    #text1 div:nth-child(2) {
        font-size: 1.3rem;
    }

    #text1 div:nth-child(3) {
        font-size: 1.2rem;
    }

    .email-info input {
        width: 200px;
        height: 34px;
    }

    .btn-start {
        padding: 6px 6px;
    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 13px;
    }

    .video-player video {
        top: 44px;
        left: 35px;
    }

    .video-player img {
        width: 330px;
    }

    .questions h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .row {
        flex-wrap: wrap;
    }

    .text h1 {
        text-align: center;
    }

    .text p {
        text-align: center;
    }

    .video-player video {
        top: 29px;
        left: 24px;
    }

    .questions h1 {
        font-size: 32px;
    }

    .email-outro .text2 {
        font-size: 18px;
    }

    .faq {
        background-color: rgb(46, 46, 46);
        padding: 16px;
        font-size: 20px;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 41px;
    }
}

@media  screen and (max-width: 550px) {
    .video-player img {
        width: 265px;
    }
}

@media screen and (max-width: 400px) {
    .email-info {
        flex-direction: column;
    }

    #logo img {
        width: 85px;
    }
}
